@import '../../shared.less';

.AddTransaction {
	.new-transaction-header {
		.row;
		align-items: center;
		justify-content: space-between;

		.progress-path {
			align-items: center;
			flex: 1;
			padding-left: 16px;

			svg {
				margin: 3px 12px 0 12px;
			}

			h3 {
				color: #92C46D; // green
				padding: 8px 16px;
				margin: 8px 0;

				&:hover {
					cursor: pointer;
					background: rgba(0,0,0,.2);
				}
			}
		}
	}

	.new-transaction-review {
		width: 50%;
		background: rgba(0,0,0,.2);
		padding: 24px;
		min-width: 400px;
		display: flex;
		flex-direction: column;
		margin: 24px auto;
		align-items: center;

		h1 {
			margin-bottom: 8px;
		}

		h3 {
			background: rgba(255,255,255, .05);
			padding: 10px 0;
			width: 100%;
			text-align: center;
			margin: 8px 0 12px 0;
		}

		.row {
			width: 100%;
			justify-content: center;
			margin-bottom: 8px;
			font-size: .75em;
			color: gray;

			.date {
				svg {
					margin-right: 8px;
					margin-bottom: -2px;
				}
			}

			div {
				flex: 1;

				&:first-child {
					border-right: 1px solid gray;
					text-align: right;
					padding-right: 8px;
					margin-right: 8px;
				}
			}
		}

		.transaction-category svg {
			margin-left: 4px;
			margin-bottom: -2px;
		}

		.note {
			padding: 10px 16px;
		}
	}

	.amount-row {
		align-items: baseline;

		input {
			flex: 1;

			&:first-child {
				text-align: right;
				flex: 2;
			}

			&.error {
				border: 1px solid #ffad08;
			}
		}

		span {
			margin: 0 4px;
		}
	}

	.fieldset {
		flex: 1;
		margin: 16px 8px;

		input, select {
			margin-top: 4px;
			width: 100%;
			height: 34px;
		}

		select {
			border-radius: 0 !important;
			border: none !important;
		}

		option {
			border-radius: 0 !important;
			border: none !important;
		}
	}

	.categories-container {
		display: flex;
		flex-wrap: wrap;
	}

	.category {
		display: flex;
		flex: 23% 1;
		padding: 40px 0;
		background: rgba(0,0,0,0.09);
		margin: 8px;
		flex-direction: column;
		align-items: center;
		font-size: 1.3em;
		font-weight: 200;
		transition: background 700ms;

		&:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, .3);
			background: rgb(41, 126, 124)
		}

		span {
			margin-top: 4px;
		}

		svg {
			stroke-width: 1px;
		}
	}

	.confirm-page {
		align-items: center;

		button {
			width: 50%;
		}
	}
}
