@import '../../shared.less';

.UploadFile {
	.options {
		div {
			margin: 16px;
		}
	}

	.major-amount {
		width: 100px;
	}

	.minor-amount {
		width: 50px;

		&.error {
			border: 1px solid #ffad08;
		}
	}

	.NewTransactionRow {
		.row;
		flex-wrap: wrap;
		margin: 16px 0;

		input, select {
			padding: 6px;
			font-size: .8rem;
			outline: none;
			border: none;
			background-color: #475D6F;
			color: #fff;
			height: 27px;
		}

		.placeholder {
			font-size: .5rem;
		}

		.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container > input {
			width: 100px;
		}

		.react-datepicker-wrapper {
			margin-right: 8px;
		}

		.fieldset > input, .fieldset > select {
			margin-right: 8px;
		}

		.fieldset {
			margin: 2px 0;
		}

		.amount-row {
			align-items: baseline;
			margin-right: 8px;

			span {
				margin: 0 2px;
				font-size: .8rem;
			}
		}

		.amount-header { padding-left: 12px; }
	}
}
