.ViewAll {
	.transactions-table {
		.header, .TransactionRow {
			.title { flex: 1; }

			.date, .amount, .method, .category {
				flex: .5;
			}

			.actions {
				padding: 0 16px;
				width: 48px;

				svg {
					stroke-width: 1;
					transition: all 200ms;

					&:hover {
						color: #FFAD08;
						cursor: pointer;
						stroke-width: 2;
					}
				}
			}
		}

		.header {
			font-size: 1.25em;
			font-weight: 300;
			background: rgba(0,0,0,.2);
			padding: 8px 0;
			border-bottom: 2px solid #A8D18A; // Light green
		}

		.body {
			.TransactionRow:nth-child(odd) {
				background: rgba(0,0,0,.07)
			}
		}
	}

	.TransactionRow {
		padding: 12px 0;
		font-weight: 200;

		.note {
			padding-left: 48px;
			font-size: .7em;
			margin-top: 8px;
		}
	}

	.fieldset {
		width: 50%;
		margin-bottom: 16px;

		input { width: 100%; }
	}
}
