@import '../../shared.less';

.Sidebar {
	.column;
	background: linear-gradient(90deg, #F6F6F6, #F0F0F0);
	box-shadow: 2px 0px 10px rgba(0,0,0,.5);

	.user-profile {
		padding: 20px 28px;
		font-size: 1.5em;
		font-weight: 200;
		background-color: #297E7B;
		color: white;
		margin-bottom: 16px;
	}

	.sidebar-element {
		.row;
		padding: 20px 28px;
		font-size: 1.2em;
		align-items: center;
		background-color: #F0F0F0;
		margin-bottom: 16px;
		font-weight: 200;
		color: rgba(0,0,0, 9);
		text-decoration: none;

		.icon {
			margin-right: 20px;
			font-size: 1.3em;
		}

		&:hover {
			background-color: #778696;
			color: white;
			cursor: pointer;
		}
	}
}
