.Login {
	margin: 15% auto;

	form {
		padding: 24px 32px;
		border-radius: 4px;
	}

	h1 {
		font-size: 4em;
		border-bottom: 1px solid #999;
		padding-bottom: 8px;
	}

	h3 {
		font-weight: 100;
		padding-bottom: 12px;

		.register-link {
			color: #D1E78D;
			cursor: pointer;
		}
	}

	.row {
		.fieldset {
			margin-bottom: 0;
			flex: 1;

			&:first-child {
				margin-right: 12px;
			}
		}
	}

	.fieldset {
		border: none;
		display: flex;
		padding: 0;
		margin: 24px 0;
		position: relative;

		.placeholder {
			font-size: 1em;
			font-weight: 200;
			position: absolute;
			// transform-origin: left;
			// transition: all 0.3s ease;
			// top: 8px;
			// left: 8px;
			top: -20px;
			left: 0px;
			font-size: .75em;
		}

		input {
			flex: 2;
			padding: 8px;
			font-size: 1em;
			outline: none;
			border: none;
			background-color: #475D6F;
			color: #fff;
		}

		// input:focus .placeholder, input.has-value .placeholder {
		// 	top: -20px;
		// 	left: 0px;
		// 	font-size: .75em;
		// }
	}
}
