.slidey-sides {
	display: inline-block;
	position: relative;
	background: none;
	border: none;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	margin: 8px 0px;
	background: rgba(0,0,0,0.2);
	padding: 12px 24px;
	text-decoration: none;

	span {
		display: flex;
		justify-content: center;
		align-items: center;

		&::before, &::after {
			content: "";
			width: 1px;
			height: 0;
			position: absolute;
			transition: all 0.2s linear;
			background: #D1E78D;
		}
	}

	&::before, &::after {
		content: "";
		width: 0;
		height: 1px;
		position: absolute;
		transition: all 0.2s linear;
		background: #D1E78D;
	}

	&:hover {
		color: #D1E78D;
		background: rgba(0, 0, 0, 0.14);

		&::before, &::after {
			width: 100%;
		}

		span::before, span::after {
			height: 100%;
		}
	}

	&:disabled {
		background: rgba(0,0,0,0.09);
		color: gray;
		cursor: no-drop;

		&::before, &::after, span::before, span::after {
			background: none !important;
		}
	}
}

.slidey-sides {
	&::before, &::after {
		transition-delay: 0.2s;
	}

	&::before {
		right: 0;
		top: 0;
	}

	&::after {
		left: 0;
		bottom: 0;
	}

	span {
		&::before, &::after {
			transition-delay: 0s;
		}

		&::before {
			left: 0;
			top: 0;
		}

		&::after {
			right: 0;
			bottom: 0;
		}
	}

	&:hover {
		&::before, &::after {
			transition-delay: 0s;
		}

		span::before, span::after {
			transition-delay: 0.2s;
		}
	}
}
