@import './variables.less';

*, *:after, *:before {
	box-sizing: border-box;
}

h1 {
	font-size: 3em;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 16px;
}

h3 {
	font-weight: 200;
	font-size: 1.2em;
}

button {
	outline: none;
}

p.note {
	opacity: .6;
}

input, select {
	padding: 8px;
	font-size: 1em;
	outline: none;
	border: none;
	background-color: #475D6F;
	color: #fff;

	&.sm {
		font-size: .75em;
	}
}

.app-toast {
	text-align: center;
	padding: 18px !important;
}

.toasts {
	.info,
	.error,
	.warn,
	.success {
		padding: 20px;
	}

	.info {
		background: @info; // blue
	}

	.error {
		background: @error; // red
	}

	.warn {
		background: @warn; // orange
	}

	.success {
		background: @success; // green
	}
}

.Main {
	width: 100vw;
	min-height: 100vh;
	display: flex;

	.Sidebar {
		flex: 2;
		max-width: 500px;
	}

	.main-content {
		flex: 3;
		background-color: #1D344E; // darkest-blue
		color: white;
		padding: 8px 32px;
	}
}
