// Disclaimer: would normally set this up with variables for
// font size, colors, padding, etc that can be used to keep
// styles consistent app-wide. For this exercise, I elected
// to skip this.

@info: #539699; // blue
@error: #EE6B61; // red
@warn: #FFAD08; // orange
@success: #A8D18A; // green
